body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo-container {
    background-color: yellow;
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    /* border: none; */
}

.todo-header {

}
.todo-button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: larger;
    border: none;
    font-weight: bolder;
    color: red;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;    
}
.todo-item-text {
    font-weight: bolder;
    color: green;
}